.body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.hero {
    color:#eee;
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
}

.hero-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-1 h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-2 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;

}

.hero-2 p {
    font-size: 18px;
    color: #E5e7EB;
    margin-top: 0;
}

.hero-2 {
    display: flex;
    gap: 30px; /* Optional: Add space between text and image */
    justify-content: space-between;
    align-items: flex-start;
}

.hero-2-text {
    flex: 1 1 500px; /* Fix width to 500px */
    min-width: 0; /* Prevent shrinking below the content size */
}

.hero-2-text .button .sign-up{
    color: white;
    border-radius: 8px;
    border-color: #3882F6;
    background-color: #3882F6;
    padding: 5px 20px;
}

.hero-2-image {
    flex: 1 1 500px; /* Fix width to 500px */
    min-width: 0; /* Prevent shrinking below the content size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-2-image img {
    max-width: 100%; /* Scale image to container width */
    max-height: 100%; /* Scale image to container height */
    object-fit: cover; /* Maintain aspect ratio while covering area */
}

@media (max-width: 768px) {
    .hero-2 {
        flex-direction: column; /* Stack vertically */
        gap: 20px; /* Smaller gap for mobile */
    }

    .hero-2-text,
    .hero-2-image {
        flex: 1 1 100%; /* Take up full width */
        max-width: 100%; /* Ensure no width constraints */
    }

    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.footer {
    background-color: #1F2937;
  }

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    color: #eee;
}


.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
  }
